.img-logo {
  margin-bottom: 50px;
}

.container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  /* background-color: aqua; */
  background-image: url(img/capa-blog-coding-iniciante.jpg);
  height: 670px;
}

.titulo {
  padding-left: 50px;
  color: #ffff;
}

.form {
  margin: 90px;
}

.form h5 {
  color: #ffff;
}

.btn-btn-primary-enviar {
  width: 100%;
  background-color: blue;
  border: none;
  border-radius: 2em;
  color: #ffff;
  margin-bottom: 2em;
}

.container-quem-somos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 90px;
}

.quem-somos {
  max-width: 30%;
}

.servicos {
  text-align: center;
  padding-top: 150px;
}

.icones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 40px;
  text-align: center;
  align-items: center;
}

.contrate {
  background-color: red;
  color: #ffff;
  border: none;
  border-radius: 2em;
  margin-top: 3em;
}

.perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
}

.perguntas h2 {
  padding-bottom: 30px;
}

.btn-btn-second {
  background-color: #ffff;
}

footer {
  padding-top: 30px;
}

@media only screen and (min-width: 480px) {
  .container-top {
    width: 100%;
    background-image: url(img/capa-blog-coding-iniciante.jpg);
  }
}
